<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />


<title>CodeFlair College || AdminHome</title>

<link th:href="@{/CSS/home.css}" type="text/css" rel="stylesheet" />

</head>
<body>

	<header th:replace="fragments::menubar"> </header>

	<h1 align="center" class="my-2 custom_font_color_1">
		<strong>Admin Portal</strong>
	</h1>
	
	
	<div class="container my-5">

		<div class="row">

			<div class="col-md-4">

				<div class="card"
					style="width: 100%; color: white; background-color: #488738;">

					<div class="card-body">

						<h3 class="card-title">
							<strong>Students</strong>
						</h3>

						<div class="row">

							<div class="col-md-6" align="center">

								<h2>0</h2>
								<h5>Male</h5>

							</div>

							<div class="col-md-6" align="center">

								<h2>0</h2>
								<h5>Female</h5>

							</div>

						</div>


					</div>

					<div class="card-body">

						<div class="row">

							<div class="col-md-6" align="center">

								<a th:href="@{/adminportal/new_students_enrollment}"
									style="text-decoration: none; color: inherit;"> New
									Student's Enrollment</a>

							</div>

							<div class="col-md-6" align="center">

								<a th:href="@{/adminportal/view_students_list}"
									style="text-decoration: none; color: inherit;">View
									Student's List</a>

							</div>

						</div>



					</div>
				</div>

			</div>


			<div class="col-md-4">

				<div class="card"
					style="width: 100%; color: white; background-color: #488738;">

					<div class="card-body">

						<h3 class="card-title">
							<strong>Staff</strong>
						</h3>

						<div class="row">

							<div class="col-md-6" align="center">

								<h2>0</h2>
								<h5>Male</h5>

							</div>

							<div class="col-md-6" align="center">

								<h2>0</h2>
								<h5>Female</h5>

							</div>

						</div>


					</div>

					<div class="card-body">

						<div class="row">

							<div class="col-md-6" align="center">

								<a th:href="@{/adminportal/new_staff_enrollment}"
									style="text-decoration: none; color: inherit;"> New Staff
									Enrollment</a>

							</div>

							<div class="col-md-6" align="center">

								<a th:href="@{/adminportal/view_staff_list}"
									style="text-decoration: none; color: inherit;">View Staff
									List</a>

							</div>

						</div>



					</div>
				</div>


			</div>

			<div class="col-md-4">
			
				<div class="card" style="width: 100%; color: white; background-color: #488738;">
  					<ul class="list-group list-group-flush" >
   	 					<li class="list-group-item" style="color: inherit; background-color: inherit;">Admission</li>
    					<li class="list-group-item" style="color: inherit; background-color: inherit;">News and Events</li>
    					<li class="list-group-item" style="color: inherit; background-color: inherit;">About Us</li>
  					</ul>
				</div>
			
			</div>


		</div>

	</div>

	<footer th:replace="fragments::html_foot"> </footer>
</body>

</html>