<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />


<title>CodeFlair College</title>

<link th:href="@{/CSS/home.css}" type="text/css" rel="stylesheet" />

</head>
<body>

	<header th:replace="fragments::menubar"> </header>

	<form class = "mx-3 my-3" th:action="@{/adminportal/new_students_enrollment}" method="post">
		
		<h1 align = "center"><strong>New Students Registration Details</strong></h1><br/>
			
		<fieldset>
	

			<legend><strong>Personal Information</strong></legend>

			<div class="container mt-1 mb-5">
			
				<div class = "row my-2">
				
					<div class = "col-md-4">
					
						<img th:src = "@{/images}" height = "200px" width = "200px" />
					
					</div>
				
				</div>

				<div class="row my-2 gy-3">
					
					<div th:if = "${incomplete_field}" th:text = "${incomplete_field}" align = "center" class="alert alert-danger" ></div>
					<div th:if = "${email_Already_Exist}" th:text = "${email_Already_Exist}" align = "center" class="alert alert-danger"></div> 
					<div th:if = "${New_Student_Registration_Success}" th:text = "${New_Student_Registration_Success}" align = "center" class="alert alert-success" ></div>
					
					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
						<label for = "firstName" style = "min-width:100px;">First Name</label>
						<input type = "text" id="firstName" th:name="firstName" 
							style = "min-width:200px; flex-grow:1; flex-shrink:1;
							flex-basis:auto;"/>
					
					</div>
					
					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "lastName" style = "min-width:100px;">Last Name</label>
						<input type = "text" id="lastName" th:name="lastName" 
							style = "min-width:200px; flex-grow:1; flex-shrink:1;
							flex-basis:auto;"/>
					
					</div>
					
					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "otherName" style = "min-width:110px;">Other Name</label>
						<input type = "text" id="otherName" th:name="otherName" 
						style = "min-width:185px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>

				</div>
				
				
				<div class="row my-2 gy-3">

					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "class" style = "min-width:100px;">Class</label>
						<select th:name = "studentClass" id = "class" style = "min-width:190px; flex-grow:1; flex-shrink:1;
							flex-basis:auto;">
						
							<option th:value = "JSS1">JSS1</option>
							<option th:value = "JSS2">JSS2</option>
							<option th:value = "JSS3">JSS3</option>
							<option th:value = "SSS1">SSS1</option>
							<option th:value = "SSS2">SSS2</option>
							<option th:value = "SSS3">SSS3</option>
							
						</select>
					
					</div>
					
					
					<div class="col-md-8" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "emailAddress" style = "min-width:120px;">Email Address</label>
						<input type = "text" th:name = "email" id = "emailAddress" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>

				</div>
				
				
				<div class="row my-2 gy-3">

					<div class="col-md-12" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "address" style = "min-width:100px;">Address</label>
						<input type = "text" th:name = "address" id = "address" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
					

				</div>
				
				
				<div class="row my-2 gy-3">
					
					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "phone" style = "min-width:100px;">Phone</label>
						<input type = "text" th:name = "phone" id = "phone" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
					
					<div class="col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "date" style = "min-width:100px;">D.O.B.</label>
						<input type = "date" th:name = "dateOfBirth" id = "date" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
					
					
				</div>
				
				
				
				

			</div>
			
			<legend><strong>Guardian Information</strong></legend>
			
			<div class = "container my-5">
			
				<div class = "row my-2 gy-3">
				
					<div class = "col-md-6" style = "display:flex; 
						flex-direction:row; ">
					
						<label  for = "guardianName" style = "min-width:100px;" >Name</label>
						<input type = "text" th:name = "guardianName" id = "guardianName" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
					
					<div class = "col-md-6" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "guardianEmail" style = "min-width:100px;" >Email</label>
						<input type = "email" th:name = "guardianEmail" id = "guardianEmail" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
				
				</div>
				
				
				<div class = "row my-2 gy-3">
				
					<div class = "col-md-4" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "guardianPhone" style = "min-width:100px;" >Phone</label>
						<input type = "text" th:name = "guardianPhone" id = "guardianPhone" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
					
					<div class = "col-md-8" style = "display:flex; 
						flex-direction:row; ">
					
						<label for = "guardianAddress" style = "min-width:100px;" >Address</label>
						<input type = "text" th:name = "guardianAddress" id = "guardianAddress" style = "min-width:200px; flex-grow:1; flex-shrink:1;
						flex-basis:auto;"/>
					
					</div>
				
				</div>
				
					
				<div class = "row my-4">
				
					<div class = "col-md-4"></div>
					<div class = "col-md-4"></div>
					<div class = "col-md-4">
					
						<button type = "submit">Register</button>
					
					</div>
				
				</div>
				
			</div>

		</fieldset>

	</form>


	<footer th:replace="fragments::html_foot"> </footer>
</body>

</html>