<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />


<title>CodeFlair College || Staff</title>

<link th:href="@{/CSS/home.css}" type="text/css" rel="stylesheet" />

</head>
<body>

	<header th:replace="fragments::menubar"> </header>

	<div class="container my-5">

		<div class="row">

			<div class="col-md-12 table-responsive-lg">

				<table class = "table table-striped">

					<thead>
						<tr>
							<th style="text-align: center;"><input
								th:id="selectAllStudents" type="checkbox" /></th>
							<th scope="col">Staff ID</th>
							<th scope="col">Name</th>
							<th scope="col">Email Address</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Gender</th>
							<th scope="col">Active</th>
							<th scope="col">Operation</th>
							
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="staff:${staffList}">

							<td style="text-align: center;"><input hidden="hidden"
								name="id" th:value="${staff.id}" /> <input
								th:id="'selected' + ${staff.id}" class="checkboxStaff"
								type="checkbox" /></td>
							<td th:text="${staff.staffID}"></td>
							<td scope = "row"><a href="#"><span
									th:text="${staff.firstName} + ' ' + ${staff.lastName} + ' ' + ${staff.otherName}"></span></a></td>
							<td th:text="${staff.email}"></td>
							<td th:text="${staff.dateOfBirth}"></td>
							<td th:text="${staff.gender}"></td>
							<td th:text="${staff.enabled}"></td>
							<td>
								<!-- <input hidden = "hidden" name = "id" th:value = "${staff.id}"/>
      	<button th:id = "'oneStaff-' + ${staff.id}" class = "btn btn-danger btn-xs delete-staff" type = "submit" value = "delete">
      	<span class = "fa fa-times"></span>Delete</button>  --> <pre><a
								href="#" class="btn btn-danger btn-md"><span
									class="fa fa-pencil"></span> Edit</a>  <a
								href="#" class="btn btn-danger btn-md"><span
									class="fa fa-times"></span> Delete</a></pre>
							</td>
						</tr>

					</tbody>
					
					<tfoot></tfoot>


				</table>

			</div>

		</div>

	</div>


	<footer th:replace="fragments::html_foot"> </footer>
</body>
</html>