<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />


<title>CodeFlair College</title>

<link th:href="@{/CSS/home.css}" type="text/css" rel="stylesheet" />

</head>
<body>

	<header th:replace="fragments::menubar"> </header>

	<div class="container my-5">

		<div class="row">

			<div class="col-md-12 table-responsive-md">

				<table class = "table table-striped">

					<thead>
						<tr>
							<th style="text-align: center;"><input
								th:id="selectAllStudents" type="checkbox" /></th>
							<th scope="col">Name</th>
							<th scope="col">Email Address</th>
							<th scope="col">Date of Birth</th>
							<th scope="col">Class</th>
							<th scope="col">Active</th>
							<th scope="col">Operation</th>
						</tr>
					</thead>
					<tbody>
						<tr data-th-each="student:${studentList}">

							<td style="text-align: center;"><input hidden="hidden"
								name="id" th:value="${student.id}" /> <input
								th:id="'selected' + ${student.id}" class="checkboxStudent"
								type="checkbox" /></td>
							<td scope = "row"><a href="#"><span
									th:text="${student.firstName} + ' ' + ${student.lastName} + ' ' + ${student.otherName}"></span></a></td>
							<td th:text="${student.email}"></td>
							<td th:text="${student.dateOfBirth}"></td>
							<td th:text="${student.studentClass}"></td>

							<td th:text="${student.enabled}"></td>
							<td>
								<!-- <input hidden = "hidden" name = "id" th:value = "${student.id}"/>
      	<button th:id = "'oneStudent-' + ${student.id}" class = "btn btn-danger btn-xs delete-student" type = "submit" value = "delete">
      	<span class = "fa fa-times"></span>Delete</button>  --> <a
								href="#" class="btn btn-danger btn-md"><span
									class="fa fa-times"></span> Delete</a>
							</td>
						</tr>

					</tbody>
					
					<tfoot></tfoot>


				</table>

			</div>

		</div>

	</div>


	<footer th:replace="fragments::html_foot"> </footer>
</body>
</html>